---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/raul-gracia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f58c62d9afa752b5ee359dc1708ef61a6b91a6874b0bba805870fd2e48e06b99"
      Last-Modified:
      - Wed, 23 Sep 2020 02:27:24 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"raul-gracia","id":407145,"node_id":"MDQ6VXNlcjQwNzE0NQ==","avatar_url":"https://avatars2.githubusercontent.com/u/407145?v=4","gravatar_id":"","url":"https://api.github.com/users/raul-gracia","html_url":"https://github.com/raul-gracia","followers_url":"https://api.github.com/users/raul-gracia/followers","following_url":"https://api.github.com/users/raul-gracia/following{/other_user}","gists_url":"https://api.github.com/users/raul-gracia/gists{/gist_id}","starred_url":"https://api.github.com/users/raul-gracia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/raul-gracia/subscriptions","organizations_url":"https://api.github.com/users/raul-gracia/orgs","repos_url":"https://api.github.com/users/raul-gracia/repos","events_url":"https://api.github.com/users/raul-gracia/events{/privacy}","received_events_url":"https://api.github.com/users/raul-gracia/received_events","type":"User","site_admin":false,"name":"Raul
        Gracia","company":"@digitalchronos ","blog":"raulgracia.co.uk","location":"London","email":"raulgracialario@gmail.com","hireable":true,"bio":null,"twitter_username":null,"public_repos":28,"public_gists":10,"followers":19,"following":34,"created_at":"2010-09-19T15:38:56Z","updated_at":"2020-09-23T02:27:24Z"}'
  recorded_at: Thu, 08 Oct 2020 14:52:29 GMT
recorded_with: VCR 6.0.0
