---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/raul-gracia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"eb754835b29ca7f7caeb49c04eee96e0"
      Last-Modified:
      - Fri, 04 Sep 2020 02:15:16 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4852'
      X-Ratelimit-Reset:
      - '1599226892'
      X-Ratelimit-Used:
      - '148'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"raul-gracia","id":407145,"node_id":"MDQ6VXNlcjQwNzE0NQ==","avatar_url":"https://avatars2.githubusercontent.com/u/407145?v=4","gravatar_id":"","url":"https://api.github.com/users/raul-gracia","html_url":"https://github.com/raul-gracia","followers_url":"https://api.github.com/users/raul-gracia/followers","following_url":"https://api.github.com/users/raul-gracia/following{/other_user}","gists_url":"https://api.github.com/users/raul-gracia/gists{/gist_id}","starred_url":"https://api.github.com/users/raul-gracia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/raul-gracia/subscriptions","organizations_url":"https://api.github.com/users/raul-gracia/orgs","repos_url":"https://api.github.com/users/raul-gracia/repos","events_url":"https://api.github.com/users/raul-gracia/events{/privacy}","received_events_url":"https://api.github.com/users/raul-gracia/received_events","type":"User","site_admin":false,"name":"Raul
        Gracia","company":"@digitalchronos ","blog":"raulgracia.co.uk","location":"London","email":"raulgracialario@gmail.com","hireable":true,"bio":null,"twitter_username":null,"public_repos":28,"public_gists":10,"followers":19,"following":32,"created_at":"2010-09-19T15:38:56Z","updated_at":"2020-09-04T02:15:16Z"}'
  recorded_at: Fri, 04 Sep 2020 13:15:59 GMT
recorded_with: VCR 6.0.0
