---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/raul-gracia/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"928fce127011bf6eb829ef79ad6ea687207a4ba77648adcd2a6bbc8059971318"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":7896181,"node_id":"MDEwOlJlcG9zaXRvcnk3ODk2MTgx","name":"caesar_cipher","full_name":"raul-gracia/caesar_cipher","private":false,"owner":{"login":"raul-gracia","id":407145,"node_id":"MDQ6VXNlcjQwNzE0NQ==","avatar_url":"https://avatars2.githubusercontent.com/u/407145?v=4","gravatar_id":"","url":"https://api.github.com/users/raul-gracia","html_url":"https://github.com/raul-gracia","followers_url":"https://api.github.com/users/raul-gracia/followers","following_url":"https://api.github.com/users/raul-gracia/following{/other_user}","gists_url":"https://api.github.com/users/raul-gracia/gists{/gist_id}","starred_url":"https://api.github.com/users/raul-gracia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/raul-gracia/subscriptions","organizations_url":"https://api.github.com/users/raul-gracia/orgs","repos_url":"https://api.github.com/users/raul-gracia/repos","events_url":"https://api.github.com/users/raul-gracia/events{/privacy}","received_events_url":"https://api.github.com/users/raul-gracia/received_events","type":"User","site_admin":false},"html_url":"https://github.com/raul-gracia/caesar_cipher","description":"Is
        a simple Caesar Cipher ruby implementation","fork":false,"url":"https://api.github.com/repos/raul-gracia/caesar_cipher","forks_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/forks","keys_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/keys{/key_id}","collaborators_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/teams","hooks_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/hooks","issue_events_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/issues/events{/number}","events_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/events","assignees_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/assignees{/user}","branches_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/branches{/branch}","tags_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/tags","blobs_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/git/refs{/sha}","trees_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/git/trees{/sha}","statuses_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/statuses/{sha}","languages_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/languages","stargazers_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/stargazers","contributors_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/contributors","subscribers_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/subscribers","subscription_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/subscription","commits_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/commits{/sha}","git_commits_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/git/commits{/sha}","comments_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/comments{/number}","issue_comment_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/issues/comments{/number}","contents_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/contents/{+path}","compare_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/compare/{base}...{head}","merges_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/merges","archive_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/downloads","issues_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/issues{/number}","pulls_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/pulls{/number}","milestones_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/milestones{/number}","notifications_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/labels{/name}","releases_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/releases{/id}","deployments_url":"https://api.github.com/repos/raul-gracia/caesar_cipher/deployments","created_at":"2013-01-29T16:32:44Z","updated_at":"2019-04-09T16:01:19Z","pushed_at":"2020-02-28T17:23:02Z","git_url":"git://github.com/raul-gracia/caesar_cipher.git","ssh_url":"git@github.com:raul-gracia/caesar_cipher.git","clone_url":"https://github.com/raul-gracia/caesar_cipher.git","svn_url":"https://github.com/raul-gracia/caesar_cipher","homepage":"http://maliciousmind.github.com/caesar_cipher/","size":43,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":{"key":"apache-2.0","name":"Apache
        License 2.0","spdx_id":"Apache-2.0","url":"https://api.github.com/licenses/apache-2.0","node_id":"MDc6TGljZW5zZTI="},"forks":0,"open_issues":1,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":151122376,"node_id":"MDEwOlJlcG9zaXRvcnkxNTExMjIzNzY=","name":"code_test","full_name":"raul-gracia/code_test","private":false,"owner":{"login":"raul-gracia","id":407145,"node_id":"MDQ6VXNlcjQwNzE0NQ==","avatar_url":"https://avatars2.githubusercontent.com/u/407145?v=4","gravatar_id":"","url":"https://api.github.com/users/raul-gracia","html_url":"https://github.com/raul-gracia","followers_url":"https://api.github.com/users/raul-gracia/followers","following_url":"https://api.github.com[...]
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/essential-go/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"9c6830b0838c6dafed64bcd6495dae936d68aaa43f516ed2fbdc00558a0abe09"'
      Last-Modified:
      - Mon, 23 Mar 2015 20:13:16 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '9'
    body:
      encoding: UTF-8
      string: '{"Go":677}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/dotfiles/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ba5d0dd4af269edc3d175fce8da8e4b44d03868a33c207bdda8d3caf10d068a1"
      Last-Modified:
      - Tue, 08 Sep 2020 02:55:40 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"Shell":17055,"Ruby":2120,"Vim script":2063,"Elixir":912,"Vim Snippet":197}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/code_test/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"50e18d381e7cb4a6ec73cb1c860a9ca6186e7a41af325869967e9fb7f676d098"
      Last-Modified:
      - Mon, 25 Feb 2019 15:24:27 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":64030,"HTML":7657,"JavaScript":1618,"Gherkin":784,"CoffeeScript":211,"CSS":20}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/huddle/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f81db698cfe4295c0bf91202cd013dbdce576a7dd800c033552242254abaf44c"
      Last-Modified:
      - Tue, 09 Apr 2019 16:55:01 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":68392,"HTML":19082,"CSS":2937,"JavaScript":1253}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/moebius/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"3135f288fe096c582af3b8d2edb869ca334c2085e4fec96c20a85db5d8c47cdd"'
      Last-Modified:
      - Mon, 03 Apr 2017 10:06:50 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '14'
    body:
      encoding: UTF-8
      string: '{"Elixir":75519}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/devise-argon2/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"9b557b5dcadabddbd038c5738cf315f8cf462e9042a4449d4744c723602bdb69"'
      Last-Modified:
      - Tue, 25 Oct 2016 22:51:25 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '15'
    body:
      encoding: UTF-8
      string: '{"Ruby":3342}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/poodl_2014_june/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"5ea99f36b535770d6c4e33a6408929e02d4d37786502675ff121c9f2a2829384"'
      Last-Modified:
      - Wed, 25 Jun 2014 21:16:48 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '16'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/elixir_aoc/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bb19274329994d73ea0abc2050a5b7a37151b0de456f125ff09e55cfacf75f6c"
      Last-Modified:
      - Mon, 09 Dec 2019 18:36:56 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"Elixir":25060,"HTML":856}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/devise_token_auth/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8bdb43a436e4c67aa377a49346ce53a7dbe2f35844992ebce58a1f0e7377fbb0"
      Last-Modified:
      - Mon, 15 Aug 2016 12:31:48 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":287936,"HTML":8761,"CSS":683,"JavaScript":599}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/generator-reactor/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"89d9fa01df32ec577ef05687a39e03d0b7123466ccb3311c77fb8cd7ce7ca2a7"
      Last-Modified:
      - Tue, 19 Jul 2016 19:29:54 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"JavaScript":576746,"CSS":25024,"HTML":2555,"Makefile":449}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/rails_application_template/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"a2e3d1e64bc104bfdc532cce1cfba330384d84245686fa42f097cfc6854fc004"'
      Last-Modified:
      - Sun, 13 May 2018 13:06:32 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '20'
    body:
      encoding: UTF-8
      string: '{"Ruby":9242}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/phoenix-starter/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"9fd8195b6fb7134927c3e05c630664f236540b0d4ca0b266f32cfa2f66c16c07"
      Last-Modified:
      - Mon, 08 May 2017 00:41:16 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"Elixir":74584,"CSS":35904,"HTML":18763,"JavaScript":4524,"Shell":45}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/jsxtyper/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"efc465afadf20ad9cd740892ae69b9b2c1caa02b84f329718320f66940945b3a"
      Last-Modified:
      - Tue, 04 Sep 2018 23:20:08 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"TypeScript":44305,"JavaScript":33819,"CSS":3197,"HTML":504}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/ruby-beautify/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"7d0811fb5460616f48f57501a4722264a4c7b135802d613aeca69542b1787431"'
      Last-Modified:
      - Tue, 28 Aug 2018 11:52:15 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '21'
    body:
      encoding: UTF-8
      string: '{"Ruby":18872}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/web-stats/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e4f8d184f5cce8bc67d4c1fdd779ed80ba48ad058154c1b17c1e0362303fc3d5"
      Last-Modified:
      - Tue, 07 Jul 2020 13:16:43 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":11953,"Shell":131}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/vue-movies/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"5ea99f36b535770d6c4e33a6408929e02d4d37786502675ff121c9f2a2829384"'
      Last-Modified:
      - Thu, 25 Jul 2019 21:34:55 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '23'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/rumbl/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e06edb97c33b96a7a60ef030f12b0945d2c5fd53732736458a7ff5a1f59f494e"
      Last-Modified:
      - Wed, 05 Jun 2019 15:38:16 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"Elixir":26851,"CSS":10893,"JavaScript":3832,"HTML":2211}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/railsgirls-app/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"48eca2250b0560cc63f79d3dbb165bde59c6c8b3c385346fdf22fedb454f667f"
      Last-Modified:
      - Thu, 20 Oct 2016 12:06:32 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":24135,"HTML":4593,"CSS":2099,"JavaScript":641,"CoffeeScript":229}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/rubiks-cube/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"5ea99f36b535770d6c4e33a6408929e02d4d37786502675ff121c9f2a2829384"'
      Last-Modified:
      - Mon, 03 Feb 2014 14:30:33 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '30'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/go-koans/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"d0504ded716c13e08db12a5114a8cbad396dc3805545da239089e05155049d95"'
      Last-Modified:
      - Sat, 04 Jul 2015 20:17:29 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '28'
    body:
      encoding: UTF-8
      string: '{"Go":14944}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/ruby_koans/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"f935ea43b77812e7396d3914691f720a797bbf2bfc624cb81d6e708f79245028"'
      Last-Modified:
      - Fri, 12 Jul 2013 22:23:50 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '29'
    body:
      encoding: UTF-8
      string: '{"Ruby":91897}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/servy/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e0ac007d72b6b653787a75875ba60dbebc251fc4180e54669d50d388e99ac65a"
      Last-Modified:
      - Sat, 01 Jun 2019 03:48:27 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"Elixir":6879,"HTML":330}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/caesar_cipher/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f8602edf40529b5f5f733d644f46c2194126fea3f0f0d23c03c62296aec59d5e"
      Last-Modified:
      - Tue, 09 Apr 2019 16:01:19 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1602169276'
      X-Ratelimit-Used:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":11917,"Gherkin":587}'
  recorded_at: Thu, 08 Oct 2020 14:52:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raul-gracia/vim-colors-solarized/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
[...]
